*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
html{
    height: 100%;
}
body{
    background-color: #ddd;
    min-height: 100%;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    width: 30%;
}
header{
    height: 100px;
    width: 100%;
    background-color: #aaa;
    padding: 10px;
    text-align: center;
}
footer{
    position: absolute;
    bottom: 0;
    padding: 10px;
    padding-bottom: 20px;
    width: 100%;
    height: 100px;
    background-color: #aaa;
    display: inline-block;
}
footer .socials{
    margin: 30px;
    height: 50px;
}
.info{
    float: right;
    width: 150px;
    margin: 20px;
}
.logo{
    width: 100%;
    text-align: center;
}
.logo img{
    margin-top: 10em;
}
.pagina{
    text-align: center;
    height: 100%;
}
.pagina li{
    background-color: white;
    height: 270px;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 5px;
    padding: 10px;
}
.pagina li img{
    height: 200px;
}
.koop{
    background-color: red;
    color: white;
    padding: 5px;
    float: right;
}


.contact{
    width: 25%;
}
.tekst{
    position: absolute;
    display: flex;
    width: 100%;
    height: 80%;
    padding: 20px;
}
.gebruikersnamen{
    width: 75%;
}
.tekst img{
    height: 35px;
    margin: 5px;
}
.bedankt{
    margin: auto;
    padding: 30% 0;
    width: 70%;
    text-align: center;
}
.bedankt h1{
    color: white;
    font-size: 50px;
}